{%- assign page_paths = site.header_pages | default: default_paths -%}
<header>
  <div class="menu" style="font-size: 150%;">
    <ul style="margin-left:-40px">
      <li style="list-style-type:none">&#8608; <a href="/index.html">últimos posts</a></li>
      <li style="list-style-type:none">&#8608; <a href="/everyday-c.html">c</a></li>
      <li style="list-style-type:none">&#8608; <a href="/everyday-infra.html">infraestrutura</a></li>
      <li style="list-style-type:none">&#8608; <a href="/everyday-ruby.html">ruby</a></li>
      <li style="list-style-type:none">&#8608; <a href="/everyday-rust.html">rust</a></li>
    </ul>
  </div>
</header>
